---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Web"
	description="Who this is"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Web.
	</p>

	
</Layout>
